<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Inventario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*<link rel="stylesheet" href="~/ProyectoDocente.styles.css" asp-append-version="true" />*@



    <link rel="stylesheet" href="~/css/query.dataTables.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/toastr.min.css">
    <link rel="stylesheet" href="~/css/sweetalert.min.css">

    @*plugins frontend*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />


    @*adminTampletaLTE*@
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>


<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/css/imagenes/2.png" alt="TEGNOSTAR" height="100" width="100">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="Cliente" asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a>
                </li>
            </ul>

            <partial name="_LoginPartial" />



            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">


                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-envelope mr-2"></i> 4 new messages
                <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-users mr-2"></i> 8 friend requests
                <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                <i class="fas fa-file mr-2"></i> 3 new reports
                <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>*@
                @*</li>*@
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                @* <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
                </a>
                </li>*@
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/css/imagenes/logo.jpeg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">TegnoStar</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">


                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        @*<li class="nav-item">
                        <a asp-area="Admin" asp-controller="Inicio" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                        Inicio
                        <span class="right badge badge-danger">New</span>
                        </p>
                        </a>
                        </li>*@

                        <li class="nav-item">
                          
                            <a asp-area="Admin" asp-controller="Categorias" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                               
                                <p>
                                    Categorias
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Productos" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-box-open"></i>
                                <p>
                                    Productos
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Ventas" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-cart-arrow-down"></i>
                                <p>
                                    Ventas
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Compra" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-cubes"></i>
                                <p>
                                    Compras
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Proveedores" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-truck"></i>
                                <p>
                                    Proveedores
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Usuarios" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Usuarios
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Empleados2" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-address-card"></i>
                                <p>
                                    Empleados
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-image"></i>
                                <p>
                                    Sliders
                                    @*@<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
                @if (ViewBag.IsHome == true)
                {
                    <partial name="_Slider" />
                }
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Dashboard v2</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v2</li>
            </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>*@
            <!-- /.content-header -->
            <!--Aquí va la vista parcial para el slider-->
            

            <!-- Main content -->
            <section class="content">
                <div class="container">
                    <!-- Info boxes -->
                    @RenderBody()
                    
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->


        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2023 <a href="">TegnoStar</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
    </div>


    @*<div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - ProyectoDocente - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>


    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.serializejson.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/0f48d8c00d.js" crossorigin="anonymous"></script>


    @*adminTampletaLTE*@
    <script src="~/lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/dashboard2.js"></script>





    <script src="~/js/site.js" asp-append-version="true"></script>

    @*plugins frontend*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/0f48d8c00d.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
